doctype html
head
  title SpaceCollab DeepLink
  script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
  script(src='https://cdn.tailwindcss.com')
body.bg-gray-700
  //- header.flex.flex-row.items-center.justify-center
  //-   ul.flex.flex-wrap.text-sm.font-medium.text-center.text-gray-400.border-gray-200.gap-4.my-4
  //-     li.nav-item.flex.items-center.justify-center(data-target='desktop-android-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Pair using Dekstop or Android
  //-     li.nav-item.flex.items-center.justify-center(data-target='vr-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Pair usign VR Device
  //-     li.nav-item.flex.items-center.justify-center(data-target='sync-grade-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Sync Grade
  .flex.flex-col.items-center.justify-center.gap-6.pt-10.px-6
    .flex.items-center.justify-center.px-6.py-4.border-4.rounded-full.border-white.max-w-sm.back-to-menu.hidden.cursor-pointer
      .text-md.text-white Back
    .flex.flex-col.items-center.justify-center.my-8.mx-6.wizard
      .text-4xl.text-white.my-6 0. Please choose your operating platfom
      .text-white.mt-4(class="flex flex-col sm:flex-row items-center justify-center gap-4")
        .nav-item.flex.flex-col.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(class="sm:flex-row",data-target='desktop-android-content')
          img.max-w-sm.h-12(alt="computer pic",src="/images/computer.png")
          .text-2xl Desktop /
          img.max-w-sm.h-12(alt="android pic",src="/images/android.png")
          .text-2xl Android
        .nav-item.flex.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(data-target='vr-content')
          img.max-w-sm.h-12(alt="vr pic",src="/images/vr-glasses.png")
          .text-2xl VR
        .nav-item.flex.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(data-target='sync-grade-content')
          img.max-w-sm.h-12(alt="marking pic",src="/images/marking.png")
          .text-2xl Grade
  main.flex.flex-col.items-center.justify-center.w-full.h-full 
    .container.py-8.px-6.text-gray-300.flex.flex-col.items-center.justify-center.gap-4.mx-auto
      #desktop-android-content.content-div.hidden
        // Home Content
        #desktop-install.flex.flex-col.items-center.gap-2
          h2.text-2xl Spacecollab Desktop Installation Confirmation
          .mb-4
            p Have You Download The Desktop App Yet?
          button#desktop-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl Yes, I have.
          button#desktop-not-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl No, I have not.
        #android-install.flex.flex-col.items-center.gap-2
          h2.text-2xl Spacecollab Android Installation Confirmation
          .mb-4
            p Have You Download The Android App Yet?
          button#android-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl Yes, I have.
          button#android-not-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl No, I have not.
        #desktop-download-link.flex.flex-col.items-center.gap-2.hidden
          h2.text-2xl Desktop Download Link
          .mb-4
            a Link
          .mb-4
            p
              | If You are done installing, 
              span.text-blue-700.cursor-pointer.desktop-done-install click here
        #android-download-link.flex.flex-col.items-center.gap-2.hidden
          h2.text-2xl Android Download Link
          .mb-4
            p Link
          .mb-4
            p
              | If You are done installing, 
              span.text-blue-700.cursor-pointer.android-done-install click here
        #desktop-content.content.flex.flex-col.items-center.gap-2
          h2.text-2xl SpaceCollab Desktop
          .mb-4
            p
              | Make sure to click the link below to connect through Deeplink with 
              br
              |                 Spacecollab Interactive Education Program
          a.p-4.py-2.bg-gray-800.cursor-pointer.border.rounded-lg(href=`${deeplink_url}`, target='_blank') Deep Link Desktop
        #android-content.content.flex.flex-col.items-center.gap-2
          h2.text-2xl SpaceCollab Android Pair
          .mb-4
            p
              | Make sure to click the link below to connect through Deeplink with 
              br
              |                 Spacecollab Interactive Education Program
          a.p-4.py-2.bg-gray-800.cursor-pointer.border.rounded-lg(href=`${depplink_url}`, target='_blank') Deep Link Android
      #vr-content.content-div.hidden
        // Home Content
        .flex.flex-col.items-center.gap-2
          h2.text-2xl VR SpaceCollab
          .mb-4.flex.flex-col.items-center.gap-4
            p
              | This is the content for the VR page. Copy the code below and use it on the spacecollab app
            h2.text-2xl.codePair=codePair
            button#copyButton.bg-blue-500.text-white.py-2.px-4.rounded-lg Copy to Clipboard
      #sync-grade-content.content-div.hidden
        .flex.flex-col.items-center.gap-2
          p.text-xl 
            | Click This Button to Sync The Grade on course title 
            span#course_title.text-blue-700=course_title
            |  and resource title 
            span#resource_link_title.text-blue-700=resource_link_title
          #course_id.hidden=course_id
          #resource_link_id.hidden=resource_link_id
          #moodle_service_url.hidden=moodle_service_url
          button#sync.px-4.py-2.border-2.rounded-2xl.border-gray-300.self-end Sync Grades
          #loading-bar.max-w-md.w-full.bg-gray-200.rounded-full.h-3.mb-4
            .bg-blue-600.h-3.rounded-full
          h2#progress-percentage.text-xl
          #lti-errors.flex.flex-col.items-center.gap-4  
script.
  // Load characters on page load
  $(document).ready(function() {
    $("#loading-bar").hide();
    $("#lti-errors").hide();

    $('.back-to-menu').click(function() {
      // Hide all content divs
      $(".content-div").addClass("hidden")
      //- remove hide from wizard
      $('.wizard').removeClass('hidden');
      //- hide back button
      $('.back-to-menu').addClass('hidden');
    })

    async function syncStudent () {
      //- get all the grades and result source id from the lowdb
      //- shoot them one by one using Promise.all
      $("#loading-bar").css({ width: "0%"});
      $("#loading-bar").show();
      const course_id = $("#course_id").text();
      const resource_link_id = $("#resource_link_id").text();
      const moodle_service_url = $("#moodle_service_url").text();
      $.ajax({
        url: `/api/data?lis_course_section_sourcedid=${course_id}&resource_link_id=${resource_link_id}`,
        method: "GET",
        dataType: 'json',
        success: async (response) => {
          if (response.length > 0) {
            const grades = [];
            const maxLength = response.length;
            for (const [index, gradeObject] of response.entries()) {
              //- grades.push(
              //- )
              const loadingBarProgress = `${parseInt(((index + 1)/maxLength) * 100)}%`
              await $.ajax({
                url: "/lti/send_outcomes",
                method: "POST",
                data: {
                  secret: 'secret',
                  key: 'ltijavascript',
                  url: moodle_service_url,
                  sourcedid: gradeObject.lis_result_sourcedid,
                  grade: gradeObject.grade
                },
                success: (response) => {
                  if (response.includes('Outcome successfully sent')) {
                    $('#loading-bar').css({ width: loadingBarProgress, })
                    $("#progress-percentage").text(loadingBarProgress);
                  } else {
                    alert(`Something went inputing ${gradeObject?.lis_person_name_full}'s grade`)
                  }
                },
                error: (error) => {}
              })         
            }
            //- await Promise.all(grades);  
          }
        },
        error: (error) => {
          //- error fetching users and grade
          alert("Error: " + error);
        },
      })
    }
    
    $("#sync").click(async function (){
      await syncStudent();
    })

    const userAgent = navigator.userAgent;
    let platform = null;

    function decidesIfPcorAndro() {
      console.log("HEHEHE")
      $('#desktop-install').removeClass('hidden');
      $('#android-install').removeClass('hidden');
      $("#desktop-download-link").addClass('hidden');
      $("#android-download-link").addClass('hidden');
      // Check if the User-Agent contains "Android"
      if (userAgent.match(/Android/i)) {
        // User is accessing from an Android device
        console.log("Android device detected", navigator.userAgent);
        platform = 'android';
        $('#desktop-install').addClass('hidden')
      } else {
        // User is accessing from a PC or another device
        console.log("PC or other device detected", navigator.userAgent);
        platform = 'desktop';
        $('#android-install').addClass('hidden')
      }
    }
    decidesIfPcorAndro();
    $("#desktop-installed").click(function() {
      console.log('heiho', platform)
      if (platform === 'desktop') {
        $("#desktop-content").removeClass("hidden");
        $("#desktop-install").addClass("hidden");
      }
    })
    $("#desktop-not-installed").click(function() {
      $("#desktop-download-link").removeClass('hidden');
      $("#desktop-install").addClass("hidden");
    })
    $(".desktop-done-install").click(function() {
      $("#desktop-download-link").addClass('hidden');
      $("#desktop-content").removeClass("hidden");
    })
    $(".android-done-install").click(function() {
      $("#android-download-link").addClass('hidden');
      $("#android-content").removeClass("hidden");
    })
    $("#android-not-installed").click(function() {
      $("#android-download-link").removeClass('hidden');
      $("#android-install").addClass("hidden");
    })
    $("#android-installed").click(function() {
      console.log('heiho', platform)
      if (platform === 'android') {
        $("#android-download").removeClass("hidden");
        $("#android-install").addClass("hidden");
      }
    })
    $('#copyButton').click(function() {
      let copyText = $(".codePair").text();
      var tempTextArea = $("<textarea>");
      tempTextArea.val(copyText);
      $("body").append(tempTextArea);

      tempTextArea.select();
      tempTextArea[0].setSelectionRange(0, 99999);
      
      document.execCommand("copy");
      tempTextArea.remove();
      $(this).text("Copied!");

      /* Change button text back after a short delay */
      setTimeout(function() {
        $("#copyButton").text("Copy to Clipboard");
      }, 1000);
    })
    $(".nav-item").click(function() {
      //to reset installation confirmation
      decidesIfPcorAndro();
      // Remove the "text-blue-600" class from all navigation items
      //- $(".nav-item").removeClass("text-blue-600");
      // Add the "text-blue-600" class to the clicked navigation item
      //- $(this).addClass("text-blue-600");
      var targetDivID = $(this).data("target");
      // Hide all content divs
      $(".content-div").addClass("hidden")
      // Show the target content div
      $("#" + targetDivID).removeClass("hidden");
      // hide the desktop and android content
      $('.content').addClass('hidden');
      //- hide wizard
      $('.wizard').addClass('hidden');
      $('.back-to-menu').removeClass('hidden');
    });

  });
