doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title SpaceCollab DeepLink
  script(src='https://code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
  script(src='https://cdn.tailwindcss.com')
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js")
body.bg-gray-700
  //- header.flex.flex-row.items-center.justify-center
  //-   ul.flex.flex-wrap.text-sm.font-medium.text-center.text-gray-400.border-gray-200.gap-4.my-4
  //-     li.nav-item.flex.items-center.justify-center(data-target='desktop-android-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Pair using Dekstop or Android
  //-     li.nav-item.flex.items-center.justify-center(data-target='vr-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Pair usign VR Device
  //-     li.nav-item.flex.items-center.justify-center(data-target='sync-grade-content')
  //-       a.inline-block.p-4.rounded-lg(href='#', class='hover:text-gray-300 hover:bg-gray-800 focus:border-4 focus:border-gray-300') Sync Grade
  .flex.flex-col.items-center.justify-center.gap-6.pt-10.px-6
    .flex.items-center.justify-center.px-6.py-4.border-4.rounded-full.border-white.max-w-sm.back-to-menu.hidden.cursor-pointer
      .text-md.text-white Back
    .flex.flex-col.items-center.justify-center.my-8.mx-6.wizard
      .text-white.my-6(class="text-lg text-center sm:text-justify sm:text-4xl") 1. Please choose your operating platfom
      .text-white.mt-4(class="flex flex-col sm:flex-row items-center justify-center gap-4")
        .nav-item.flex.flex-col.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(class="sm:flex-row",data-target='desktop-android-content')
          img.max-w-sm.h-12(alt="computer pic",src="/images/computer.png")
          .text-2xl Desktop /
          img.max-w-sm.h-12(alt="android pic",src="/images/android.png")
          .text-2xl Android
        .nav-item.flex.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(data-target='vr-content')
          img.max-w-sm.h-12(alt="vr pic",src="/images/vr-glasses.png")
          .text-2xl VR
        .nav-item.flex.justify-center.items-center.border-4.rounded-md.gap-4.px-4.py-6.cursor-pointer(data-target='sync-grade-content')
          img.max-w-sm.h-12(alt="marking pic",src="/images/marking.png")
          .text-2xl Grade
  main.flex.flex-col.items-center.justify-center.w-full.h-full 
    .container.py-8.px-6.text-gray-300.flex.flex-col.items-center.justify-center.gap-4.mx-auto
      #desktop-android-content.content-div.hidden
        // Home Content
        #desktop-install.flex.flex-col.items-center.gap-2
          h2.text-2xl.text-center 2. Install Spacecollab Desktop version
          .mb-4
            p Have you installed the SpaceCollab Desktop App?
          button#desktop-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl Yes, I have.
          button#desktop-not-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl No, I have not.
        #android-install.flex.flex-col.items-center.gap-2
          h2.text-2xl.text-center 2. Install SpaceCollab Android version
          .mb-4
            p Have you installed the SpaceCollab Android version on your phone?
          button#android-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl Yes, I have.
          button#android-not-installed.px-6.py-2.bg-gray-600.text-white.border.border-gray-800.rounded-xl No, I have not.
        #desktop-download-link.flex.flex-col.items-center.gap-8.hidden
          h2.text-2xl.text-center 3. Download SpaceCollab Desktop version
          a.flex.items-center.justify-center.border-4.border-white.rounded-md.cursor-pointer.px-4.py-2(href="https://bit.ly/3Z9ZdzV", target="_blank") 2.1. Download here
          p
            | 3.2 If You are done installing, 
          button.flex.items-center.justify-center.border-4.border-white.rounded-md.cursor-pointer.desktop-done-install.px-4.py-2
            .text-gray-200 click here  
        #android-download-link.flex.flex-col.items-center.gap-8.hidden
          h2.text-2xl.text-center 3. Download SpaceCollab Android version
          a.flex.items-center.justify-center.border-4.border-white.rounded-md.cursor-pointer.px-4.py-2(href="https://bit.ly/3EudqOo", target="_blank") 2.1. Download here
          p
            | 3.2. If You are done installing, 
          button.flex.items-center.justify-center.border-4.border-white.rounded-md.cursor-pointer.android-done-install.px-4.py-2
            .text-gray-200 click here
        #desktop-content.content.flex.flex-col.items-center.gap-2
          h2.text-2xl 4. SpaceCollab Desktop Pair
          .mb-4
            p
              | Open the experience by clicking the button below
          a.p-4.py-2.bg-gray-800.cursor-pointer.border.rounded-lg(href=`${deeplink_url}`, target='_blank') Open SpaceCollab Desktop App
        #android-content.content.flex.flex-col.items-center.gap-2
          h2.text-2xl 4. SpaceCollab Android Pair
          .mb-4
            p
              | Open the experience by clicking the button below 
          a.p-4.py-2.bg-gray-800.cursor-pointer.border.rounded-lg(href=`${deeplink_url}`, target='_blank') Open SpaceCollab Android App
      #vr-content.content-div.hidden
        // Home Content
        .flex.flex-col.items-center.gap-2
          h2.text-2xl.text-center 2. Login SpaceCollab in VR (Meta Quest 2)
          .mb-4.flex.flex-col.items-center.gap-4
            p
              | This is the content for the VR page. Copy the code below and use it on the spacecollab app
            h2.text-2xl.codePair=codePair
            button#copyButton.bg-blue-500.text-white.py-2.px-4.rounded-lg Copy to Clipboard
      #sync-grade-content.content-div.hidden
        .flex.flex-col.items-center.gap-6
          .flex.items-center.justify-center.gap-4.mx-4.my-6
            #course_title.text-gray-200.text-2xl=course_title
            #resource_link_title.text-gray-200.text-2xl=resource_link_title
          p.text-xl 
            | Fill in the blanks to enter the grade of the students
          p.text-x1
            | Grade format is 0-100
          #course_id.hidden=course_id
          #resource_link_id.hidden=resource_link_id
          #moodle_service_url.hidden=moodle_service_url
          #consumer_key.hidden=consumer_key
          #secret.hidden=secret
          .flex.flex-col.items-start.justify-center.gap-4
            each val in studentLists
              form.flex.gap-4.items-center.justify-center(id=`form_${val.lis_person_contact_email_primary}_${val.lis_course_section_sourcedid}_${val.resource_link_id}`)
                .flex.flex-col.items-start.justify-center.gap-2.my-2
                  label.font-medium.text-gray-200.text-sm(for=`gradeinput_${val.lis_person_contact_email_primary}_${val.lis_course_section_sourcedid}_${val.resource_link_id}`)=val.lis_person_name_full
                  input.p-2.rounded-full.text-gray-800(type="number", name=`grade`, id=`gradeinput_${val.lis_person_contact_email_primary}_${val.lis_course_section_sourcedid}_${val.resource_link_id}`, value=val.grade)
                input.p-2.rounded-full.text-gray-800.hidden(type="text", name=`lis_result_sourcedid`, value=val.lis_result_sourcedid)
                input.p-2.rounded-full.text-gray-800.hidden(type="text", name=`lis_person_contact_email_primary`, value=val.lis_person_contact_email_primary)
                input.p-2.rounded-full.text-gray-800.hidden(type="text", name=`lis_course_section_sourcedid`, value=val.lis_course_section_sourcedid)
                input.p-2.rounded-full.text-gray-800.hidden(type="text", name=`resource_link_id`, value=val.resource_link_id)
                input.p-2.rounded-full.text-gray-800.hidden(type="text", name=`user_id`, value=val.user_id)
                button.border-2.rounded-md.border-white.flex.items-center.justify-center.px-4.py-2.submit-button Upsert
          //- button#sync.px-4.py-2.border-2.rounded-2xl.border-gray-300.self-end Sync Grades
          //- #loading-bar.max-w-md.w-full.bg-gray-200.rounded-full.h-3.mb-4
          //-   .bg-blue-600.h-3.rounded-full
          //- h2#progress-percentage.text-xl
          //- #lti-errors.flex.flex-col.items-center.gap-4  
script.
  // Load characters on page load
  $(document).ready(function() {

    Cookies.set('username', 'john_doe', { expires: 7 }); 

    const consumer_key = $('#consumer_key').text();
    const secret = $('#secret').text();
    const course_id = $("#course_id").text();
    const resource_link_id = $("#resource_link_id").text();
    const moodle_service_url = $("#moodle_service_url").text();

    //- const syncGradeLocalStorage = () => {
    //-   const grades = JS
    //- }

    //- const setGradeLocalStorage = (sourcedid, user_id, grade) => {
    //-   let gradesLocalStorage = localStorage.getItem(`grades-${course_id}-${resource_link_id}`)
    //-   if (gradesLocalStorage) {
    //-     gradesLocalStorage = JSON.parse(gradesLocalStorage);
    //-     if (gradesLocalStorage.length !== 0) {
    //-       gradesLocalStorage = gradesLocalStorage.map(item => {

    //-       })
    //-     }
    //-   }
    //- }

    //- const syncGradeLocalStorage = () => {
    //-   let gradesLocalStorage = localStorage.getItem(`grades-${course_id}-${resource_link_id}`)
    //-   if (!gradesLocalStorage) {
    //-     localStorage.setItem(`grades-${course_id}-${resource_link_id}`, JSON.stringify([]))
    //-     console.log("HIHIHHI")
    //-   } else {
    //-     gradesLocalStorage = JSON.parse(gradesLocalStorage);
    //-     console.log("HOHOHO", gradesLocalStorage)
    //-   }
    //- }

    //- syncGradeLocalStorage();

    //- async function syncGrade () {
    //-   const forms = $('form');

    //-   for (const form of forms) {
    //-     const sourcedidInput = $(form).find('input[name="lis_result_sourcedid"]');
    //-     const sourcedid = sourcedidInput.val();

    //-     const data = {
    //-       key: consumer_key,
    //-       secret: secret,
    //-       url: moodle_service_url,
    //-       sourcedid
    //-     }

    //-     $.ajax({
    //-       url: "/lti/get_outcomes",
    //-       method: "POST",
    //-       data,
    //-       success: ({result}) => {
    //-         const gradeInput = $(form).find('input[name="grade"]');
    //-         gradeInput.val(result * 100)
    //-       },
    //-       error: (error) => {
    //-         console.log("ERROR: " + error);
    //-       }
    //-     })

    //-   }
    //- }
    
    //- syncGrade();

    $('.back-to-menu').click(function() {
      // Hide all content divs
      $(".content-div").addClass("hidden")
      //- remove hide from wizard
      $('.wizard').removeClass('hidden');
      //- hide back button
      $('.back-to-menu').addClass('hidden');
    })

    $('.submit-button').click(function (e) {
      e.preventDefault();

      const form = $(this).closest('form');

      const formData = form.serializeArray();

      const grade = parseFloat(formData[0].value);
      const sourcedid = formData[1].value;
      const email = formData[2].value;
      const courseId = formData[3].value;
      const resourceLinkId = formData[4].value;
      const userId = formData[5].value;

      if (grade % 1 !== 0 || grade < 0 || grade > 100) {
        alert("Grade must be between 0 and 100 and not a floating number");
        return
      }

      //- console.log("Submitting form with ID:", form.attr('id'));
      //- console.log("Form data:", JSON.stringify(formData));

      const data = {
        secret,
        key: consumer_key,
        url: moodle_service_url,
        sourcedid,
        grade: grade / 100,
        lis_course_section_sourcedid: courseId,
        user_id: userId,
        resource_link_id: resourceLinkId
      }

      console.log(data)

      $.ajax({
        url: "/lti/send_outcomes",
        method: "POST",
        data,
        success: (response) => {
          if (response.includes('Outcome successfully sent')) {
            alert('Outcome Successfully sent')
          } else {
            alert(`Sending Outcome failed`)
          }
        },
        error: (error) => {
          console.log("ERROR: " + error);
        }
      })
    })

    const userAgent = navigator.userAgent;
    let platform = null;

    function decidesIfPcorAndro() {
      $('#desktop-install').removeClass('hidden');
      $('#android-install').removeClass('hidden');
      $("#desktop-download-link").addClass('hidden');
      $("#android-download-link").addClass('hidden');
      // Check if the User-Agent contains "Android"
      if (userAgent.match(/Android/i)) {
        // User is accessing from an Android device
        //- console.log("Android device detected", navigator.userAgent);
        platform = 'android';
        $('#desktop-install').addClass('hidden')
      } else {
        // User is accessing from a PC or another device
        //- console.log("PC or other device detected", navigator.userAgent);
        platform = 'desktop';
        $('#android-install').addClass('hidden')
      }
    }
    decidesIfPcorAndro();
    $("#desktop-installed").click(function() {
      if (platform === 'desktop') {
        $("#desktop-content").removeClass("hidden");
        $("#desktop-install").addClass("hidden");
      }
    })
    $("#android-installed").click(function() {
      if (platform === 'android') {
        $("#android-content").removeClass("hidden");
        $("#android-install").addClass("hidden");
      }
    })
    $("#desktop-not-installed").click(function() {
      $("#desktop-download-link").removeClass('hidden');
      $("#desktop-install").addClass("hidden");
    })
    $(".desktop-done-install").click(function() {
      $("#desktop-download-link").addClass('hidden');
      $("#desktop-content").removeClass("hidden");
    })
    $(".android-done-install").click(function() {
      $("#android-download-link").addClass('hidden');
      $("#android-content").removeClass("hidden");
    })
    $("#android-not-installed").click(function() {
      $("#android-download-link").removeClass('hidden');
      $("#android-install").addClass("hidden");
    })
    $('#copyButton').click(function() {
      let copyText = $(".codePair").text();
      var tempTextArea = $("<textarea>");
      tempTextArea.val(copyText);
      $("body").append(tempTextArea);

      tempTextArea.select();
      tempTextArea[0].setSelectionRange(0, 99999);
      
      document.execCommand("copy");
      tempTextArea.remove();
      $(this).text("Copied!");

      /* Change button text back after a short delay */
      setTimeout(function() {
        $("#copyButton").text("Copy to Clipboard");
      }, 1000);
    })
    $(".nav-item").click(function() {
      //to reset installation confirmation
      decidesIfPcorAndro();
      // Remove the "text-blue-600" class from all navigation items
      //- $(".nav-item").removeClass("text-blue-600");
      // Add the "text-blue-600" class to the clicked navigation item
      //- $(this).addClass("text-blue-600");
      var targetDivID = $(this).data("target");
      // Hide all content divs
      $(".content-div").addClass("hidden")
      // Show the target content div
      $("#" + targetDivID).removeClass("hidden");
      // hide the desktop and android content
      $('.content').addClass('hidden');
      //- hide wizard
      $('.wizard').addClass('hidden');
      $('.back-to-menu').removeClass('hidden');
    });

  });
